[submodule "repos/zsh-syntax-highlighting"]
	path = repos/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "repos/zsh-completions"]
	path = repos/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "repos/zsh-autocomplete"]
	path = repos/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "repos/ohmyzsh"]
	path = repos/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "repos/spaceship-prompt"]
	path = repos/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
